<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<br>
<% if logged_in? %>
  <h1><%= current_user.username %></h1>
  <form action="/sessions" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>
<% else %>
  <a href="/users/new">Sign Up</a>
  <a href="/sessions/new">Log In</a>
<% end %>

<form action="/cats/<%= @cat.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>

  <label>Owner
    <input type="text" name="cat[owner_id]" value="<%= @cat.owner_id %>">
  </label>

  <input type="submit">
</form>
