<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<br>
<% if logged_in? %>
  <h1><%= current_user.username %></h1>
  <form action="<%= sessions_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>
<% else %>
  <a href="<%= new_users_url %>">Sign Up</a>
  <a href="<%= new_sessions_url %>">Log In</a>
<% end %>

<h1>ALL THE CATS</h1>
<ul>
  <% @cats.each do |cat| %>
    <li><a href="<%= cat_url(cat) %>"><%= cat.name %></a></li>
  <% end %>
</ul>
<%= link_to("New Cat", new_cats_url) %>
